<div>
</br>
<table>
  <tr>
    <th>{{$ctrl.value.carsStrings.id}}</th>
    <th>{{$ctrl.value.carsStrings.brand}}</th>
    <th>{{$ctrl.value.carsStrings.model}}</th>
    <th>{{$ctrl.value.carsStrings.engine}}</th>
    <th>{{$ctrl.value.carsStrings.lastService}}</th>
    <th>{{$ctrl.value.carsStrings.fuel}}</th>
    <th>{{$ctrl.value.carsStrings.delete}}</th>
    <th></th>
    <th>{{$ctrl.value.carsStrings.km}}
       </tr>
    <tr ng-repeat="car in $ctrl.value.user.cars track by car.id">
      <td>{{car.id}}</td>
      <td>{{car.brand}}</td>
      <td>{{car.model}}</td>
      <td>{{car.engine}} hp</td>
      <td>{{car.lastService | date}}</td>
      <td>{{car.fuelCompsumption | number:2}} liters/100km</td>
      <td>
        <button data="{{car}}" ng-click=$ctrl.value.deleteCar(car)>X</button>
      </td>
      <td>
        <button data="{{car}}" ng-click=$ctrl.value.editCar(car)>{{$ctrl.value.carsStrings.edit}}</button>
      </td>
      <td>
        <input type="text" size="10" style = "width:60px" ng-model=car.km> {{$ctrl.value.carsStrings.kms}}
        <button  ng-click=$ctrl.value.addTrip(car)>{{$ctrl.value.carsStrings.add}}</button>
      </td>
    </tr>
  </table>
</div>
