<div>
    <br/>
    <div>
        <button style="position:absolute;top:20px;right:20px;" ng-click="vm.logOut()">{{vm.userProfileStrings.logOut}}</button>
        <div class="search-bar" style="position:absolute;top 20px; right:150px">
            <label>{{vm.userProfileStrings.list}} :</label><a target="_blank" href="files/OwnersPdf.pdf"><i class = "fa fa-file-pdf-o fa-2x" aria-hidden = "true"></i></a>
            <span>|</span>
            <label>{{vm.userProfileStrings.search}}:</label>
            <input type="search" placeholder = {{vm.userProfileStrings.searchCars}} ng-model = "vm.searchContent">
            <i ng-click = "vm.searchCars()" class="fa fa-search fa-2x " aria-hidden="true"></i>
        </div>
        <h2 style="color:white;position:absolute;top:20px;left:20px;">{{vm.userProfileStrings.user}}: {{vm.user.name}} {{vm.user.lastName}}</h2>
        <h2 style="color:white;position:absolute;top:50px;left:20px;">{{vm.userProfileStrings.role}}: {{vm.user.role}}</h2>
        </br></br></br></br></br>
        </br>
        </br>
        <center>
            <div>
                <button ng-click="vm.onCarsClicked()">{{vm.userProfileStrings.car}}</button>
                <button ng-click="vm.onMngCarsClicked()">{{vm.userProfileStrings.addCar}}</button>
                <button ng-click="vm.onStatsClicked()">{{vm.userProfileStrings.stats}}</button>
                <button ng-show="vm.user.role === 'admin'" ng-click="vm.editUsers()">{{vm.userProfileStrings.editUsers}}</button>
            </div>
        </center>
    </br></br>
<list-cars value = "vm" ng-show = "vm.showCars"></list-cars>
<add-car  value = "vm" ng-show="vm.showAddCar"></add-car>      
<list-stats value = "vm" ng-show = "vm.showStats"></list-stats>
<search-results value = "vm" ng-show = "vm.showResults"></search-results> 
<edit-users value = "vm" ng-show = "vm.showEditUsers"></edit-users>