<div>
</br>
<table>
  <tr>
    <th>{{$ctrl.value.signUpStrings.ssid}}</th>
    <th>{{$ctrl.value.signUpStrings.name}}</th>
    <th>{{$ctrl.value.signUpStrings.lastName}}</th>
    <th>{{$ctrl.value.signInStrings.username}}</th>
    <th>{{$ctrl.value.signInStrings.password}}</th>
    <th>{{$ctrl.value.signUpStrings.mobile}}</th>
    <th>{{$ctrl.value.signUpStrings.email}}</th>
    <th>{{$ctrl.value.userProfileStrings.ssid}}</th>
    <th>{{$ctrl.value.otherStrings.deleteUser}}</th>
    <th>{{$ctrl.value.otherStrings.makeAdmin}}</th>
  </tr>
  <tr ng-repeat="user in $ctrl.users">
      <td>{{user.ssid}}</td>
      <td>{{user.name}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.username}}</td>
      <td>{{user.password}}</td>
      <td>{{user.mobile}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td><button ng-click = $ctrl.deleteUser(user)>X</button></td>
      <td><button ng-click = $ctrl.makeAdmin(user)>+</button></td>
    </tr>
  </table>
  <container>
      <br/>
      <div>
        <p class="myText">{{$ctrl.value.otherStrings.report}} :</p>
      <div>
      <div class="search-bar">
      <div>
      <a target="_blank" href="files/AllUsersPdf.pdf">
      <div class="pdf">
      <i class="fa fa-file-pdf-o fa-2x" aria-hidden = "true"></i></a>
      <br>.pdf
    </div>
      </div>
      <div>
      <a href = "files/AllUsersXlsx.xlsx">
      <div class="xls">
      <i class="fa fa-file-excel-o fa-2x" aria-hidden = "true"></i></a>
      <br>.xlsx
    </div>
      </div>
      </div>
  </container>
</div>