<button ng-click = "vm.BackClicked()">{{vm.signUpStrings.back}}</button>  

<div >

	<form name="signUpForm" ng-submit="signUpForm.$valid && vm.onSignUpClicked()" class="basic-grey" novalidate>
    <h1>{{vm.signUpStrings.form}}
        <span>{{vm.signUpStrings.formSubtitle}}</span>
    </h1>
    <label>
        <div>{{vm.signUpStrings.name}} :</div>
        <input type="text" ng-model="vm.user.name" placeholder="Your Full Name"  required />
    </label>
	<br/>
    <label>
        <div>{{vm.signUpStrings.lastName}}:</div>
        <input type="text"  ng-model="vm.user.lastName" placeholder="Your Last Name" required/>
    </label>
    <br/>
    <label>
        <div>{{vm.signUpStrings.mobile}} :</div>
        <input type="text"   ng-model="vm.user.mobile" placeholder="Mobile Phone Number" required/>
    </label>
     <br/>
    <label>
        <div>{{vm.signUpStrings.ssid}}:</div>
        <input type="text"   ng-model="vm.user.ssid" placeholder="Your SSID" required/>
    </label>
    <br/>
    <label>
        <div>{{vm.signUpStrings.email}} :</div>
        <input type="email"  ng-model="vm.user.email" placeholder="Valid Email Address" required/>
    </label> 
    <br/>
    <label>
        <div>{{vm.signInStrings.username}} :</div>
        <input type="text" placeholder="Enter Username"  ng-model = "vm.user.username" required/>
    </label>
    <br/>
    <label>
        <div>{{vm.signInStrings.password}} :</div>
        <input type="password" placeholder="Enter Password" ng-model = "vm.user.password" required/>
    </label>    
    <br/>
    <label>
        <div>{{vm.userProfileStrings.role}}:</div>
        <input type="text" placeholder = "Default: User (Edit Credentials) - Only admin can change it" ng-readonly ="true" ng-model = "vm.user.role" />
    </label>    
    <br/>
    <label>
        <div>&nbsp;</div> 
        <button type="submit" >{{vm.signInStrings.signUp}}</button>
    </label> 

</form>
</div>